Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd
df=pd.read_csv('country_code.csv')

In [2]:
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [3]:
df.tail()

                  Name Code
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

In [5]:
df['Code'].value_counts()

AF    1
NP    1
NC    1
NZ    1
NI    1
     ..
GL    1
GD    1
GP    1
GU    1
ZW    1
Name: Code, Length: 246, dtype: int64

In [6]:
df.describe()

               Name Code
count           249  246
unique          249  246
top     Afghanistan   AF
freq              1    1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    249 non-null    object
 1   Code    246 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
# import numpy and pandas module
import pandas as pd
import numpy as np

column = ['a', 'b', 'c', 'd', 'e']
index = ['A', 'B', 'C', 'D', 'E']

# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5, 5),columns = column, index = index)
df1
# create the new index for rows
# new_index =['U', 'A', 'B', 'C', 'Z']

# print(df1.reindex(new_index))

          a         b         c         d         e
A  0.116886  0.431527  0.343298  0.523877  0.987298
B  0.315748  0.693700  0.299631  0.258234  0.355730
C  0.706420  0.515705  0.068621  0.994168  0.321156
D  0.364712  0.970254  0.153232  0.380930  0.077246
E  0.449558  0.743146  0.590307  0.369651  0.366867

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [2]:
import pandas as pd
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

def sum_first_three(df):
    first_three = df['Values'].iloc[:3]
    total = sum(first_three)
    print("The sum of the first three values is:", total)

sum_first_three(df)

The sum of the first three values is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
df = pd.DataFrame({'Text': ['This is a sentence.', 'This is another sentence.', 'And this is yet another sentence.']})

def count_words(row):
    text = row['Text']
    word_count = len(text.split())
    return word_count

def add_word_count_column(df):
    df['Word_Count'] = df.apply(count_words, axis=1)
    return df

df = add_word_count_column(df)
print(df)

                                Text  Word_Count
0                This is a sentence.           4
1          This is another sentence.           4
2  And this is yet another sentence.           6

Q5. How are DataFrame.size() and DataFrame.shape() different?

In Pandas, the size() and shape() functions are used to get information about the dimensions of a DataFrame. However, they 
provide different information:

size() returns the total number of elements in the DataFrame. It is equal to the product of the number of rows and columns.

shape() returns a tuple representing the dimensions of the DataFrame in the form (number of rows, number of columns).

In [7]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df.size)      
print(df.shape)

9
(3, 3)

Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in Pandas, you can use the read_excel() function. This function is part of the Pandas IO API and provides
a way to read data from an Excel file into a Pandas DataFrame.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [11]:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']})

def add_username_column(df):
    df['Username'] = df['Email'].apply(extract_username)
    return df

def extract_username(email):
    username = email.split('@')[0]
    return username

df = add_username_column(df)
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [17]:
import pandas as pd
df = pd.DataFrame({'A': [2, 4, 6, 8, 10], 'B': [5, 10, 8, 3, 2], 'C': ['a', 'b', 'c', 'd', 'e']})

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

selected_rows = select_rows(df)
print(selected_rows)

    A  B  C
2   6  8  c
3   8  3  d
4  10  2  e

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [18]:
import pandas as pd

def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
mean, median, std = calculate_statistics(df)
print('Mean:', mean)
print('Median:', median)
print('Standard Deviation:', std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [19]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = pd.DataFrame({'Date': pd.date_range('20220301', periods=10), 'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})
df_with_ma = calculate_moving_average(df)
print(df_with_ma)

        Date  Sales  MovingAverage
0 2022-03-01     10           10.0
1 2022-03-02     20           15.0
2 2022-03-03     30           20.0
3 2022-03-04     40           25.0
4 2022-03-05     50           30.0
5 2022-03-06     60           35.0
6 2022-03-07     70           40.0
7 2022-03-08     80           50.0
8 2022-03-09     90           60.0
9 2022-03-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [6]:
import pandas as pd

def add_weekday_column(df, date_col_name='Date', weekday_col_name='Weekday'):
    """
    Add a new column 'Weekday' to the DataFrame with the weekday name
    corresponding to each date in the 'Date' column.

    Parameters:
        df (pandas.DataFrame): The input DataFrame.
        date_col_name (str): The name of the 'Date' column.
        weekday_col_name (str): The name of the new 'Weekday' column.

    Returns:
        pandas.DataFrame: The input DataFrame with the new 'Weekday' column added.
    """
    # Extract the day of the week for each date
    weekday_series = df[date_col_name].dt.strftime('%A')

    # Add the new 'Weekday' column to the DataFrame
    df[weekday_col_name] = weekday_series

    return df

df = pd.DataFrame({'Date': ['2022-05-03', '2022-05-04', '2022-05-05']})
df = add_weekday_column(df)
print(df)

AttributeError: Can only use .dt accessor with datetimelike values

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [9]:
import pandas as pd

def select_rows_between_dates(df, date_col_name='Date', start_date='2023-01-01', end_date='2023-01-31'):
    """
    Select all rows in the DataFrame where the date in the 'Date' column is between
    the start_date and end_date (inclusive).

    Parameters:
        df (pandas.DataFrame): The input DataFrame.
        date_col_name (str): The name of the 'Date' column.
        start_date (str): The lower bound date in the format 'YYYY-MM-DD'.
        end_date (str): The upper bound date in the format 'YYYY-MM-DD'.

    Returns:
        pandas.DataFrame: The subset of rows where the date is between start_date and end_date.
    """
    # Convert the start_date and end_date strings to Pandas Timestamps
    start_ts = pd.Timestamp(start_date)
    end_ts = pd.Timestamp(end_date)

    # Create boolean conditions to select the rows between the start and end dates
    date_condition = (df[date_col_name] >= start_ts) & (df[date_col_name] <= end_ts)

    # Select the rows that meet the condition
    subset_df = df[date_condition]

    return subset_df

df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-02-28')})
subset_df = select_rows_between_dates(df, start_date='2023-01-01', end_date='2023-01-31')
print(subset_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?


To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the pandas library 
itself.