Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame({'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used to select data by label (i.e., row and column names), while iloc is used to select data by integer position
(i.e., row and column indices).

In [13]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['a', 'b', 'c'])

# using loc to select data by label
print(df.loc['a':'b', 'A':'B'])

# using iloc to select data by integer position
print(df.iloc[0:2, 0:2])

   A  B
a  1  4
b  2  5
   A  B
a  1  4
b  2  5

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [16]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})

# create a new index order
reindex = [3, 0, 1, 2]

# reindex the DataFrame
new_df = df.reindex(reindex)

# print the new DataFrame
print(new_df)

   A  B   C
3  4  8  12
0  1  5   9
1  2  6  10
2  3  7  11

In [17]:
# using loc to select row with label 2
print(new_df.loc[2])

# using iloc to select row with index 2
print(new_df.iloc[2])

A     3
B     7
C    11
Name: 2, dtype: int64
A     2
B     6
C    10
Name: 1, dtype: int64

Note that new_df.loc[2] selects the row with label (index name) 2, which corresponds to the row with index position 3 in the
original DataFrame. new_df.iloc[2] selects the row with index position 2, which corresponds to the row with label
(index name) 1 in the original DataFrame.

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.732103  0.737199  0.710609  0.241639  0.156199  0.054903
2  0.164718  0.295315  0.388242  0.660466  0.565538  0.009500
3  0.213628  0.312613  0.510412  0.463299  0.670246  0.610623
4  0.982457  0.279163  0.182513  0.384680  0.830275  0.142787
5  0.633259  0.224128  0.497109  0.718300  0.960302  0.152649
6  0.408169  0.030828  0.218411  0.498332  0.560253  0.491518

In [25]:
# find the mean of each column
column_means = df1.mean()
print('Mean of each column:')
print(column_means)

Mean of each column:
column_1    0.522389
column_2    0.313208
column_3    0.417883
column_4    0.494453
column_5    0.623802
column_6    0.243663
dtype: float64

In [26]:
# find the standard deviation of column_2
column_2_std = df1['column_2'].std()
print('Standard deviation of column_2:')
print(column_2_std)

Standard deviation of column_2:
0.23191443078450327

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

Rolling functions: These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

Expanding functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

Exponentially weighted functions: These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

Cumulative functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

Aggregating functions: These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.

In [4]:
import pandas as pd
data_dict = {
    'current_date':['2023-02-26']
}

df = pd.DataFrame(data_dict)
df

  current_date
0   2023-02-26

Q7. Write a code to print only the current month and year at the time of answering this question.

In [3]:
df['current_date']=pd.to_datetime(df['current_date'])
df['current_date'].dt.month
df['current_date'].dt.year

0    2023
Name: current_date, dtype: int64

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
start_date = input("Enter first date: ")
end_date = input("Enter second date: ")

days_in_between = pd.date_range(start = start_date, end = end_date)
difference = len(days_in_between)

print(f'The difference between the first date and second date is {difference} days')

#First date entered: 2022-01-01
#Second date entered: 2022-02-01

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
filepath = input('Enter the filepath: ')
column = input('Enter the column name: ')
order = input('Enter category order: ')

df = pd.read_csv(filepath)

df[column].astype('category')

if order=='ascending':
    df=df.sort_values(by = column, ascending= True)
elif order=='descending':
    df=df.sort_values(by = column, ascending= False)

df

#entered filepath: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
#entered column: Pclass
#entered order: ascending

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
filepath = input('Enter filepath: ')

df = pd.read_csv(filepath)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

#entered filepath: Product_sales.csv

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

mean = df['Test_Score'].mean()
median = df['Test_Score'].median()
mode = df['Test_Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

#entered fiepath: students_data.csv